<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background-color: #343a40;">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" style="color:white">Don't be shy, say hi!</h5>
          <div>
          <img src="assets/img/phone.png"> <p style="display: inline; color:white; margin-left: 2%;">000 000</p>
          </div>
          <div>
          <img src="assets/img/gmail.png">  <p style="display: inline; color:white; margin-left: 2%;">email@gmail.com</p>
          </div>
          <div>
            <img src="assets/img/address1.png"> <p style="display: inline; color:white; margin-left: 2%;">address001</p>
            </div>
           

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold"></h5>
          <div>
            <img src="assets/img/facebook .png"> 
            </div>
            <div>
            <img src="assets/img/instagram.png">  
            </div>
            <div>
              <img src="assets/img/twitter.png">
              </div>
         

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <a href="https://mdbootstrap.com/education/angular/"> </a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->