<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">
      <img src="assets/img/food.png" style="width: 30 px; height: 50px;"  routerLink="">
    </a>
  
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
    [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <h4 class="nav-link" style="color: #fff; "  routerLink="/about">Staff</h4>
        </li>
  
        <li class="nav-item">
          <h4 class="nav-link" style="color: #fff; "  routerLink="/booking">Booking</h4>
        </li>
       
        <li class="nav-item">
          <h4 class="nav-link" style="color: #fff; "  (click)="addOrder()">Order</h4>
        </li>
      </ul>
    </div>
  </nav>
 