<app-header></app-header>


<h1  class="font-weight-bold"style="text-align: center; font-family: Gabriola; margin-top: 2%; color:#A52A2A;">Host the perfect Event
        <button style="float: right; background-color:#A52A2A; margin-right: 20px; color:#FFE4C4; width: 15%;height: 10%; " type="button" class="btn btn-large"  (click)="addHost()">HOST HERE</button>

</h1>


<div class="jumbotron" style="padding-top: 25%; margin-top: 2%; background-color: #FFE4C4; color:#778899 ">
<h4 style="text-align: center; font-style: oblique;  margin-top:-25%;">Les Amis Restaurant & Lounge is the perfect venue for your special gathering. With our beautiful indoor / outdoor patio,
we can host any kind of event. Whether you are celebrating a Birthday or an Engagement, Corporate or Holiday party,
Les Amis will make it a memorable. With state-of-art audio and video system can be used to broadcast the speaker's
speech as well as digital presentations throughout multiple areas of the restaurant.
Please contact us for availability and dinner or appetizer menu ideas for such events.</h4>

<div class="container">
<div class="jumbotron" id="birth" style=" width: 30%;"></div>
<div class="jumbotron" id="diner" style=" width: 30%;"></div>
<div class="jumbotron" id="ani" style=" width: 30%;"></div>

</div>





</div>