
<app-header></app-header>
<div class="home flex-center">
       <div class="home-message">
           <h1 class="home-title">eat, love, laugh</h1>
           <h2 class="home-sub-title">Les Amis Restaurant & Lounge</h2>
      </div>
   </div>



  <div class="about flex">
      <div class="about-message">
          <h1 class="home-title"> what makes us different </h1>
      </div>
   <div class="wrapper">
        <div class="box1">
            <img class="responsive" src="assets/img/health (1).png">
            <h1 style="text-align: center; font-size:2.5vw">Healthy</h1>
            <br>
            <div class="text">
            <h4 style=" font-size:1.75vw">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h4>
            </div>
        </div>
        <div class="box2">
            <img class="responsive" src="assets/img/delicious.png">
            <h1 style="text-align: center; font-size:2.5vw">Delicious</h1>
            <br>
            <div class="text">
            <h4 style=" font-size:1.75vw">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h4>
            </div>
        </div>
        <div class="box3">
                <img  class ="responsive"src="assets/img/support.png">
                <h1 style="text-align: center; font-size:2.5vw">Great Service</h1>
                <br>
                <div class="text">

                <h4 style=" font-size:1.75vw">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</h4>
                </div>
        </div>
    </div>
  </div>

<app-footer></app-footer>

  